body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", 나눔고딕, "Nanum Gothic", "Noto Sans KR", "Noto Sans CJK KR", arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

h1, h2, h3, h4 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}
